<br>
<div class="d-flex flex-column align-items-center">
    <h1 class="text-primary">Pays</h1>
    <div class="row col-6">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="countryNameDesc">Pays :</span>
            </div>
            <input type="text" id="recherchePays" class="form-control" list="listePays" placeholder="nom de pays"
                aria-label="countryName" aria-describedby="countryNameDesc">
            <datalist id="listePays">
            </datalist>
        </div>
    </div>
    <div class="row d-flex justify-content-around" id="pays"></div>
</div>
<br>