<br>
<div class="d-flex flex-column align-items-center">
    <h1 class="text-primary">Utilisateur Aléatoire </h1>
<br>
    <div class="col-md-6">
        <label for="Nom">Nom :</label> <input type="text" class="form-control" name="Nom" id="Nom">
    </div>
    <div class="col-md-6">
        <label for="Prenom">Prenom :</label> <input type="text" class="form-control" name="Prenom" id="Prenom">
    </div>
    <div class="col-md-6">
        <label for="Email">Email :</label> <input type="email" class="form-control" name="Email" id="Email">
    </div>
    <div class="col-md-6">
        <label for="Pays">Pays :</label> <input type="text" class="form-control" name="Pays" id="Pays">
    </div>
</div>

