<br>
    <h1 class="text-primary">Bienvenue</h1>
    <br>
    <div class="row border border-primary d-flex justify-contents-center align-items-center">
        <div class="col-3">
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/fd/JQuery-Logo.svg" class="img img-fluid"alt="">
        </div>
        <div class="col-7">
            <h3 class="text-primary">Demo AJAX</h3> 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, maxime. Architecto natus laborum ex voluptate obcaecati recusandae at aspernatur velit iste quia cum, sunt aliquid alias maxime incidunt aut. <br>Sapiente?
        </div>
    </div>
<br>
